.container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}
a {
    color: #6b6a6a;
    font-weight: 500;
}
.profile_card{
    width: 100%;
    height: 300px;
    background-color: #42f590;
    border-radius: 15px;
    background-image: linear-gradient(to top right, rgb(63, 209, 44), rgb(62, 209, 57), rgb(62, 208, 69), rgb(61, 208, 82), rgb(60, 207, 94), rgb(59, 207, 107), rgb(59, 206, 119), rgb(58, 206, 132), rgb(57, 205, 144), rgb(56, 205, 157), rgb(56, 204, 169), rgb(55, 204, 182));
}
.ava_name_rate{
    display: flex;
}
.avatar {
    margin: 30px;
    border: 4px solid #00a44f;
    width: 140px;
    height: 140px;
    border-radius: 50%;
}
.profile_name{
    align-content: center;
    padding-top: 40px;
    padding-left: 20px;
    color: white;
}
.name_rate{
    display: flex;
    align-items: center;
    align-content: center;
}
.rate{
    margin-top: 42px;
    margin-left: 30px;
    width: 50px;
    height: 50px;
}
.achivs{
    height: 50px;
    margin-top: 40px;
    margin-left: 30px;
    color: #ffffff;
}
.all_descr{
    padding-left: 20px;
    padding-top: 10px;
}
.spec{
    font-size: 20px;
    color: #ffffff;
}
.other_spec{
    font-size: 15px;
    color: #c5ffc7;
}
.all_inline_links{
    display: flex;
    justify-content: space-between;
}
.inline_links{
    display: flex;
}
.link{
    padding: 20px;
    font-weight: 500;
    color: #535353;
}
.links{
    padding: 20px;
    font-weight: 500;
    color: #535353;
    border-bottom: 4px solid #3fd12c;
}
.edit_profile{
    margin-top: 15px;
}
.edit_profile_butt{
    cursor: pointer;
    color: #6b6a6a;
    height: 35px;
    font-size: 15px;
    width: 200px;
    border: 1px solid #6b6a6a;
    outline: none;
    border-radius: 20px;
    background-color: #ffffff;
}
.line{
    height: 1px;
    margin: 0 auto;
    background-color: #cfcfcf;
}
.top_cards{
    display: flex;
}
.card_info{
    height: 370px;
    width: 580px;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 10px;
    padding: 40px;
}
.xz{
    height: 130px;
    width: 580px;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 10px;
}
.xzxz{
    height: 300px;
    width: 580px;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 10px;
    margin-top: 20px;
}
.post{
    height: 425px;
    width: 575px;
    border: 2px solid #c6c6c6;
    border-radius: 15px;
    margin: 10px;
    background-color: #9ee78e;
}

.flex_cards {
    display: flex;
    flex-wrap: wrap;
}
.cards_back{
    background-color: #e7e7e7;
}
.info{
    display: flex;
    padding: 15px;
    font-size: 17px;
    color: #000000;
}
.inform{
    margin-left: 5px;
    font-weight: bold;
}